$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  // margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  // .header {
  //   margin-bottom: 30px;
  // }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
//                      -_-_-_-_-_-_-_- Global Page Settings -_-_-_-_-_-_-_-
html, body{
	max-width: auto;
	max-height: auto;
  background: url("/images/coasters.jpg") no-repeat center center fixed;
	background-size:cover;
	padding: 0;
	margin: 0 auto;
  color: #ECECEC;
}
.pageWrapper{
	padding:inherit;
	margin:inherit;
}
.pageBody{

  height: 100%;
}
.content{

	// height: 100%;
	padding:0;
	margin:0 auto;
}
                      // -_-_-_-_-_-_-_- Navigation -_-_-_-_-_-_-_-
.menubar{
	font-family: 'Nixie One', cursive;
  font-weight: 100;
	height: 100%;
	padding:0;
	margin:0 auto;
}
ul.nav.navbar-nav{
  height: 100%;
}
.sidebar-nav {
	text-align: center;
	height:100%;
}
.navlink {
	margin-bottom: 5rem;
	font-size: 2.6rem;
}
.navbar-inverse{
	border: none;
	height:100%;
  width: 16rem;
	background-image: none !important;
	background-color: #1C1106 !important;
	background-blend-mode: saturation;
	opacity: 0.8;
}
.mainLogo{
	height: auto;
	margin: 0 auto;
	padding: 3rem 0;
}
.Brand{
	align-content: center;
	margin: 0 auto;
  height: 16rem;
	opacity: 0.7 ;
}
                  // -_-_-_-_- Footer -_-_-_-_-
.footerLeft{
  float: left;
}
.footerRight{
  // float: right;
}
.mediaIcons{
  margin: 0 0.5rem 0 0.5rem;
  float: right;
}
// _-_-_-_-_-_-_- LandingPage Settings
.landingLogo{
  height: 30rem;
  width: 30rem;
}

//                                                        ---------------- Store ----------------
.storeTitle{
  font-size: 7rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-shadow: 0px 0px 30px rgba(150, 150, 150, 1);
}
/* -_-_-_-_-_-_-_-_-_- Media Queries -_-_-_-_-_-_-_-_-_- */

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 20px;
    padding-bottom: 20px;

  }
}
